{{ define "main"}}
<article class="class single-post">
    <h1 class="class entry-title mt-4 mb-4">{{ .Title}}</h1>
    <div class="class post-meta mb-4">
        <span class="class post-author">Posted by:
            {{ .Params.author}}</span>
        <span class="class post-date">
        <time>{{ dateFormat .Site.Params.dateFormat .Date }}</time>
        <hr>
        </span>
        <span class="class post-tags">
          {{range (.GetTerms "tags")}}
          <a href="{{ .Permalink }}">{{ .LinkTitle}}</a>
          {{end}}
        </span>
        <div class="class post-author"></div>
    </div>
    <div class="entry-content">{{ .Content }}</div>
</article>
{{ end }}